@charset "utf-8";
/* CSS Document */

body, td, th, p {
   color: #333;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
   line-height: 1.5;
}

body {
   background-color: #fdfdfd;
   box-sizing: border-box;
   margin: 0;
   position: relative;
}

ul, li {
   color: #333;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
}

a {
   color: orange;
   text-decoration: none;
}

a:hover, a:focus {
   color: #3397db;
   text-decoration: none;
}

a img {
   border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}

#maincontent {
   background-color: #f3f3f3;
   min-height: 100%;
}

#footer {
   background-color: #444;
   box-sizing: border-box;
   color: #aaa;
   font-size: 8pt;
   letter-spacing: 1px;
   padding: 25px;
   text-align: center;
   text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
   background-color: #252831;
   display: flex;
   height: 80px;
   text-align: center;
   width: 100%;
}

nav h1 {
   margin: auto;
}

nav h1 a {
   color: #fff;
   font-size: 14pt;
   font-weight: 200;
   letter-spacing: 10px;
   text-transform: uppercase;
}

#breadcrumb {
   background-color: #ddd;
   box-sizing: border-box;
   font-size: 17px;
   list-style: none;
   margin: 0;
   padding: 10px 40px 16px;
   width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
   display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
   color: black;
   content: "/\00a0";
   padding: 8px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
   background-color: #ccc;
   height: 400px;
   width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
   align-items: center;
   background-color: #3397DB;
   height: 50px;
   width: 100%;
}

.filter-options h2 {
   color: white;
   font-size: 1rem;
   font-weight: normal;
   line-height: 1;
   margin: 0 20px;
}

.filter-options select {
   background-color: white;
   border: 1px solid #fff;
   font-family: Arial, sans-serif;
   font-size: 11pt;
   height: 35px;
   letter-spacing: 0;
   margin: 10px;
   padding: 0 10px;
   width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
   align-items: center;
   background-color: #f3f3f3;
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   list-style: outside none none;
   margin: 0;
   padding: 30px 15px 60px;
   text-align: center;
}

#restaurants-list li {
   background-color: #fff;
   border: 2px solid #ccc;
   display: flex;
   flex-direction: column;
   font-family: Arial, sans-serif;
   margin: 15px;
   min-height: 380px;
   padding: 0 30px 25px;
   text-align: left;
   width: 270px;
}

#restaurants-list .restaurant-img {
   background-color: #ccc;
   display: block;
   margin: 0;
   max-width: 100%;
   min-height: auto;
   min-width: 100%;
}

#restaurants-list li h1 {
   color: #f18200;
   font-family: Arial, sans-serif;
   font-size: 14pt;
   font-weight: 200;
   letter-spacing: 0;
   line-height: 1.3;
   margin: 20px 0 10px;
   text-transform: uppercase;
}

#restaurants-list p {
   font-size: 11pt;
   margin: 0;
}

#restaurants-list li a {
   background-color: orange;
   border-bottom: 3px solid #eee;
   color: #fff;
   display: inline-block;
   font-size: 10pt;
   margin: 15px 0 0;
   padding: 8px 30px 10px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-flow: wrap;
   width: 100%;
}

.inside header {
   width: 100%;
}

.inside #map-container {
   position: relative;
   width: 100%;
   height: 300px;
}

/*#maincontent #map-container {*/
   /*float: right;*/
   /*margin-top: 50px;*/
   /*height: 100% !important;*/
   /*width: 50%;*/
/*}*/

/*#maincontent #map {*/
   /*height: 900px;*/
/*}*/

.inside #footer {
   bottom: 0;
   position: absolute;
   width: 100%;
   z-index: 99999;
}

#restaurant-container {
   box-sizing: border-box;
   display: flex;
   justify-items: center;
   justify-self: center;
   position: relative;
   width: 100%;
}

#restaurant-name {
   color: #f18200;
   font-family: Arial, sans-serif;
   font-size: 20pt;
   font-weight: 200;
   letter-spacing: 0;
   line-height: 1.1;
   margin: 15px 0 30px;
   text-transform: uppercase;
   text-align: center;
}

#pair #restaurants-list,
#pair #restaurants-list li {
   display: flex;
   flex-shrink: 1;
}

#restaurant-img {
   margin: 0 auto;
   width: 100%;
}

#restaurant-address {
   font-size: 12pt;
   margin: 10px 0px;
}

#restaurant-cuisine {
   background-color: #333;
   color: #ddd;
   font-size: 12pt;
   font-weight: 300;
   letter-spacing: 10px;
   margin: 0 0 20px;
   padding: 2px 0;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}

#restaurant-container, #reviews-container {
   border-bottom: 1px solid #d9d9d9;
   border-top: 1px solid #fff;
   box-sizing: border-box;
   padding: 40px 40px 30px;
   width: 100%;
}

#reviews-container {
   padding: 30px 40px 80px;
}

#reviews-container h2 {
   color: #f58500;
   font-size: 24pt;
   font-weight: 300;
   letter-spacing: -1px;
   padding-bottom: 1pt;
}

#reviews-list {
   margin: 0;
   padding: 0;
}

#reviews-list li {
   background-color: #fff;
   border: 2px solid #f3f3f3;
   display: block;
   list-style-type: none;
   margin: 0 0 30px;
   overflow: hidden;
   padding: 0 20px 20px;
   position: relative;
}

#reviews-list li p {
   margin: 0 0 10px;
}

#restaurant-hours td {
   color: #666;
}

/* ====================== Media Queries ====================== */

@media all and (max-width: 1024px) {

}
@media all and (max-width: 735px) {

}
@media all and (min-width: 735px)  {
   #restaurants-list {
      box-sizing: border-box;
      display: block;
   }

   #restaurants-list li {
      display: block;
   }

   #restaurants-list .restaurant-img {
      min-height: 248px;
   }

   .filter-options {
      align-items: center;
      background-color: #3397DB;
      display: flex;
      height: 50px;
      width: 50%;
   }

   #map-container,
   .filter-options {
      margin: 130px 0 50px;
   }

   #map-container #map {
      box-sizing: border-box;

      height: calc(100vh - 195px);
      /*margin: -50px 0 0;*/
   }

   select,
   select #cuisines-select,
   select #neighborhoods-select {
      display: flex;
   }

   .inside {
      box-sizing: border-box;
      display: block;
      width: 100%;
   }

   #maincontent header,
   .home header,
   .inside header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
   }

   #maincontent #map-container,
   .inside #map-container {
      position: fixed;
      height: 100%;
      right: 0;
      top: 0px;
      width: 50%;
   }

   #restaurant-container {
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 50%;
   }

   #restaurant-img {
      width: 50%;
   }

   #restaurant-cuisine {
      width: 50%;
   }

   #restaurant-container, #reviews-container {
      /*padding: 140px 40px 30px;*/
      width: 50%;
   }

   #restaurants-list {
      display: flex;
      flex-flow: wrap;
      width: 50%;
   }
}
@media all and (max-width: 480px)  {

}